{
    "openapi": "3.0.0",
    "info": {
        "title": "Occupational Safety Guard Api",
        "description": "用於資料創新應用競賽-職場安全創新應用組的後端API",
        "contact": {
            "email": "s20313116@stu.edu.tw"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://cool.aronhome.com:51504",
            "description": "正式區"
        }
    ],
    "paths": {
        "/": {},
        "/api/auth/login": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "登入",
                "description": "登入現有的使用者，並透過JWT操作其他需授權API",
                "operationId": "c70382a4d384ca2415b757a0ff8abc53",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "account": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "account": "test",
                                    "password": "testtest"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvc2dhX2FwaSIsImlhdCI6MTY5MTIxODI5OSwibmJmIjoxNjkxMjE4Mjk5LCJleHAiOjE2OTEyMTg0NzksInVzZXJJZCI6NiwidXNlckFjY291bnQiOiJ0ZXN0IiwidXNlckVtYWlsIjoidGVzdEBnbWFpbC5jb20iLCJ1c2VyTmFtZSI6InRlc3QiLCJ1c2VyUm9sZXMiOlsidXNlciJdfQ.tIDrkKMuG7nWxSJUlTlYuMFje3RDMaq13gAI9U6M9r19fW916dduEcAl1aHep5D22_LhmYiGSysknfz5ni9vlO5g_zo3D8aJ_IC3v02ZQj_XTZ006eRFUWYiW8qzYCEJKEkF9AMFGw5_lH3ofM6mBnommJBbrV5ufbSy1CTggkajNcELhsjtKsz9rRF3xASON1Sq-9oouMbOw8XkYHzTJKoIlAE5XLf_6gJXCZEBcMC_oE1kcliR42LMiqkD_fGqfrBfOCfUdd8xkTBTlW1xUoa2wt8_-BcVo0hvLHvolnzDZ5ww8zmib6_2z9zpI4HuSpOvQLsRzLHBnjsBegMpkA",
                                        "refresh_token": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                    },
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 0,
                                    "countOfPage": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/refresh_token": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "Refresh Token",
                "description": "拿舊的 Token 換發新的 Token。",
                "operationId": "fd5388523ff7bef045696c56f2c84990",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "refresh_token": "99d0bf9c-280f-4ad6-a14f-dab6b579f047"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvc2dhX2FwaSIsImlhdCI6MTY5MTIxODI5OSwibmJmIjoxNjkxMjE4Mjk5LCJleHAiOjE2OTEyMTg0NzksInVzZXJJZCI6NiwidXNlckFjY291bnQiOiJ0ZXN0IiwidXNlckVtYWlsIjoidGVzdEBnbWFpbC5jb20iLCJ1c2VyTmFtZSI6InRlc3QiLCJ1c2VyUm9sZXMiOlsidXNlciJdfQ.tIDrkKMuG7nWxSJUlTlYuMFje3RDMaq13gAI9U6M9r19fW916dduEcAl1aHep5D22_LhmYiGSysknfz5ni9vlO5g_zo3D8aJ_IC3v02ZQj_XTZ006eRFUWYiW8qzYCEJKEkF9AMFGw5_lH3ofM6mBnommJBbrV5ufbSy1CTggkajNcELhsjtKsz9rRF3xASON1Sq-9oouMbOw8XkYHzTJKoIlAE5XLf_6gJXCZEBcMC_oE1kcliR42LMiqkD_fGqfrBfOCfUdd8xkTBTlW1xUoa2wt8_-BcVo0hvLHvolnzDZ5ww8zmib6_2z9zpI4HuSpOvQLsRzLHBnjsBegMpkA",
                                        "refresh_token": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                    },
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 0,
                                    "countOfPage": 0
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_jwt_security": []
                    }
                ]
            }
        },
        "/api/counties": {
            "post": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "縣市",
                "description": "查詢多筆的縣市資料。",
                "operationId": "85054bf3ba19d8e357428c3e0c275419",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "page": 1,
                                    "count": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": [
                                        {
                                            "code": "A",
                                            "name": "臺北市"
                                        }
                                    ],
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 22,
                                    "countOfPage": 22
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/counties/{countyCode}/towns": {
            "post": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "鄉鎮市區",
                "description": "查詢此縣市所擁有的鄉鎮市區資料。",
                "operationId": "35ee5eba3f5f14f7faf81d59c3915918",
                "parameters": [
                    {
                        "name": "countyCode",
                        "in": "path",
                        "description": "欲查詢哪一筆通報機關的管轄區，帶入通報機關的id。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "A"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "page": 1,
                                    "count": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": [
                                        {
                                            "code": "A01",
                                            "name": "松山區",
                                            "county_code": "A"
                                        }
                                    ],
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 12,
                                    "countOfPage": 12
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notifying_agencies/{id}": {
            "post": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "通報機關",
                "description": "查詢單筆或多筆的通報機關。",
                "operationId": "123085e86154b64ac34adfca9dd020bc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "若想要查詢單筆，請帶入機關編碼，查多筆可不帶0，這裡是因為Swagger不帶值會預設給空白。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "page": 1,
                                    "count": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "agency_name": "勞動部職業安全衛生署北區職業安全衛生中心",
                                            "address": "24219 新北市新莊區中平路439號南棟9樓",
                                            "notified_hotline_at_work": "02-89956720",
                                            "notified_hotline_off_work": "02-89956720"
                                        }
                                    ],
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 17,
                                    "countOfPage": 17
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notifying_agencies/{na_id}/jurisdiction_regions": {
            "post": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "管轄區",
                "description": "查詢通報機關所管轄的區域。",
                "operationId": "d655a564a8a99e38ceb79e42bf4645dc",
                "parameters": [
                    {
                        "name": "na_id",
                        "in": "path",
                        "description": "欲查詢哪一筆通報機關的管轄區，帶入通報機關的id。",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "page": 1,
                                    "count": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "na_id": 1,
                                            "region": "新北市"
                                        }
                                    ],
                                    "statusCode": 200,
                                    "message": "請求成功。",
                                    "countOfData": 17,
                                    "countOfPage": 17
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "使用者"
                ],
                "summary": "註冊",
                "description": "註冊一個新的使用者",
                "operationId": "3cf4cb807e45afd57a0bfbb55e289df0",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "account": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "account": "m01",
                                    "password": "p@ssW0rD",
                                    "username": "m01Name",
                                    "email": "m01@gmail.com"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "建立資料成功。",
                        "content": {
                            "application/json": {
                                "example": [
                                    {
                                        "data": [],
                                        "statusCode": 201,
                                        "message": "建立資料成功。",
                                        "countOfData": 0,
                                        "countOfPage": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "api_jwt_security": {
                "type": "apiKey",
                "description": "JWT Token",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}