{
    "openapi": "3.0.0",
    "info": {
        "title": "Occupational Safety Guard Api",
        "description": "用於資料創新應用競賽-職場安全創新應用組的後端API",
        "contact": {
            "email": "s20313116@stu.edu.tw"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://cool.aronhome.com:51504",
            "description": "正式區"
        }
    ],
    "paths": {
        "/": {},
        "/api/auth/login": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "登入",
                "description": "登入現有的使用者，並透過JWT操作其他需授權API",
                "operationId": "c70382a4d384ca2415b757a0ff8abc53",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password"
                                ],
                                "properties": {
                                    "account": {
                                        "type": "string",
                                        "example": "test"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "testtest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "請求成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/refresh_token": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "Refresh Token",
                "description": "拿舊的 Token 換發新的 Token。",
                "operationId": "fd5388523ff7bef045696c56f2c84990",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "type": "string",
                                        "example": "99d0bf9c-280f-4ad6-a14f-dab6b579f047"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "請求成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_jwt_security": []
                    }
                ]
            }
        },
        "/api/counties": {
            "get": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "縣市",
                "description": "查詢多筆的縣市資料。",
                "operationId": "5deeb4504b9c58203f4c0613adc75838",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/counties/{countyCode}/towns": {
            "get": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "鄉鎮市區",
                "description": "查詢此縣市所擁有的鄉鎮市區資料。",
                "operationId": "33ca2a3607b601f026e49c04777ba3fb",
                "parameters": [
                    {
                        "name": "countyCode",
                        "in": "path",
                        "description": "欲查詢哪一筆通報機關的管轄區，帶入通報機關的id。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "A"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "county_code": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/industries/{code}": {
            "get": {
                "tags": [
                    "行業別"
                ],
                "summary": "行業別",
                "description": "查詢多筆或單筆的行業別資料",
                "operationId": "0fc036346f3223ce04df2a9cf5076b76",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "行業別編號",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "A"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼(查單筆可不帶)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數(查單筆可不帶)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notifying_agencies/{id}": {
            "get": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "通報機關",
                "description": "查詢單筆或多筆的通報機關。",
                "operationId": "d93d13935e46c66168ad1998161f379d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "若想要查詢單筆，請帶入機關編碼，查多筆可不帶，這裡是因為Swagger不帶值會預設給空白。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "agency_name": {
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_at_work": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_off_work": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notifying_agencies/{na_id}/jurisdiction_regions": {
            "get": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "管轄區",
                "description": "查詢通報機關所管轄的區域。",
                "operationId": "b79f74da3797576778d8a1ddbc328ffa",
                "parameters": [
                    {
                        "name": "na_id",
                        "in": "path",
                        "description": "欲查詢哪一筆通報機關的管轄區，帶入通報機關的id。",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "na_id": {
                                                        "type": "integer"
                                                    },
                                                    "region": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "使用者"
                ],
                "summary": "註冊",
                "description": "註冊一個新的使用者",
                "operationId": "3cf4cb807e45afd57a0bfbb55e289df0",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password",
                                    "username",
                                    "email"
                                ],
                                "properties": {
                                    "account": {
                                        "type": "string",
                                        "example": "m001"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "p@ssW0rD"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "m001Name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "m001@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "建立資料成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "建立資料成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "api_jwt_security": {
                "type": "apiKey",
                "description": "JWT Token",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}