{
    "openapi": "3.0.0",
    "info": {
        "title": "Occupational Safety Guard Api",
        "description": "用於資料創新應用競賽-職場安全創新應用組的後端API",
        "contact": {
            "email": "s20313116@stu.edu.tw"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://cool.aronhome.com:51504",
            "description": "正式區"
        }
    ],
    "paths": {
        "/": {},
        "/api/accident_types/{code}": {
            "get": {
                "tags": [
                    "災害類型"
                ],
                "summary": "災害類型",
                "description": "查詢特定的災害類型",
                "operationId": "e30ceb8c1c443356ef1af81572cd9c6b",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "可不帶，則為查詢所有災害類型",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "0001"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "登入",
                "description": "登入現有的使用者，並透過JWT操作其他需授權API",
                "operationId": "c70382a4d384ca2415b757a0ff8abc53",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password"
                                ],
                                "properties": {
                                    "account": {
                                        "type": "string",
                                        "example": "test"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "testtest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "請求成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/refresh_token": {
            "post": {
                "tags": [
                    "授權"
                ],
                "summary": "Refresh Token",
                "description": "拿舊的 Token 換發新的 Token。",
                "operationId": "fd5388523ff7bef045696c56f2c84990",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "type": "string",
                                        "example": "99d0bf9c-280f-4ad6-a14f-dab6b579f047"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "99d0be99-9ca4-4283-8b22-37046bf3de22"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "請求成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_jwt_security": []
                    }
                ]
            }
        },
        "/api/counties": {
            "get": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "縣市",
                "description": "查詢多筆的縣市資料。",
                "operationId": "5deeb4504b9c58203f4c0613adc75838",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/counties/{countyCode}/towns": {
            "get": {
                "tags": [
                    "縣市、鄉鎮市區"
                ],
                "summary": "鄉鎮市區",
                "description": "查詢此縣市所擁有的鄉鎮市區資料。",
                "operationId": "33ca2a3607b601f026e49c04777ba3fb",
                "parameters": [
                    {
                        "name": "countyCode",
                        "in": "path",
                        "description": "欲查詢哪一筆通報機關的管轄區，帶入通報機關的id。",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "A"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "county_code": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/industries/{code}": {
            "get": {
                "tags": [
                    "行業別"
                ],
                "summary": "行業別",
                "description": "查詢多筆或單筆的行業別資料",
                "operationId": "0fc036346f3223ce04df2a9cf5076b76",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "行業別編號",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "A"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼(查單筆可不帶)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數(查單筆可不帶)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/labor_insurance/{li_id}/{lei_id}/{ls_id}/{lq_id}": {
            "get": {
                "tags": [
                    "勞保下載"
                ],
                "summary": "勞保下載",
                "description": "查詢全部或指定條件之重大職災資訊",
                "operationId": "941f03fe0fd00b3b73297db7a9062b52",
                "parameters": [
                    {
                        "name": "li_id",
                        "in": "path",
                        "description": "身份",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    },
                    {
                        "name": "lei_id",
                        "in": "path",
                        "description": "額外身份",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    },
                    {
                        "name": "ls_id",
                        "in": "path",
                        "description": "補助",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    },
                    {
                        "name": "lq_id",
                        "in": "path",
                        "description": "資格",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/major_occupational_accidents": {
            "get": {
                "tags": [
                    "歷年重大職災資訊"
                ],
                "summary": "重大職災查詢",
                "description": "查詢全部或指定條件之重大職災資訊",
                "operationId": "ea9eeb688bc54bb33ac1a719fe844d3c",
                "parameters": [
                    {
                        "name": "industryCode",
                        "in": "query",
                        "description": "指定行業別",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "F"
                    },
                    {
                        "name": "accidentTypeCode",
                        "in": "query",
                        "description": "指定災害類型",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0004"
                    },
                    {
                        "name": "notifyingAgencyId",
                        "in": "query",
                        "description": "指定通報機關",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 9
                    },
                    {
                        "name": "startOccurrenceDate",
                        "in": "query",
                        "description": "開始發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2019-04-20"
                    },
                    {
                        "name": "endOccurrenceDate",
                        "in": "query",
                        "description": "結束發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-04-20"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "business_unit": {
                                                        "type": "string"
                                                    },
                                                    "detail_of_industry": {
                                                        "type": "string"
                                                    },
                                                    "occurrence_date": {
                                                        "type": "string"
                                                    },
                                                    "number_of_victims": {
                                                        "type": "integer"
                                                    },
                                                    "project_name": {
                                                        "type": "string"
                                                    },
                                                    "accident_address": {
                                                        "type": "string"
                                                    },
                                                    "accident_location": {
                                                        "type": "string"
                                                    },
                                                    "business_owner": {
                                                        "type": "string"
                                                    },
                                                    "notifying_agency": {
                                                        "type": "integer"
                                                    },
                                                    "industry": {
                                                        "type": "string"
                                                    },
                                                    "accident_type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/accident_type_statistics": {
            "get": {
                "tags": [
                    "歷年重大職災資訊"
                ],
                "summary": "行業統計",
                "description": "統計單個行業別的所有災害類型",
                "operationId": "592ba2c04078947fa386b4150297c48a",
                "parameters": [
                    {
                        "name": "industryCode",
                        "in": "query",
                        "description": "指定行業別",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "F"
                    },
                    {
                        "name": "startOccurrenceDate",
                        "in": "query",
                        "description": "開始發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2019-04-20"
                    },
                    {
                        "name": "endOccurrenceDate",
                        "in": "query",
                        "description": "結束發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-04-20"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "accident_type": {
                                                        "type": "string"
                                                    },
                                                    "count_of_accident_type": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/industry_statistics": {
            "get": {
                "tags": [
                    "歷年重大職災資訊"
                ],
                "summary": "災害類型統計",
                "description": "統計單個災害類型的所有行業別",
                "operationId": "fb51b11354c737e71347c62ab3950e35",
                "parameters": [
                    {
                        "name": "accidentTypeCode",
                        "in": "query",
                        "description": "指定災害類型",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0001"
                    },
                    {
                        "name": "startOccurrenceDate",
                        "in": "query",
                        "description": "開始發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2019-04-20"
                    },
                    {
                        "name": "endOccurrenceDate",
                        "in": "query",
                        "description": "結束發生日期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-04-20"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "industry": {
                                                        "type": "string"
                                                    },
                                                    "count_of_industry": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notifying_agencies/{id}": {
            "get": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "通報機關",
                "description": "查詢單筆或多筆的通報機關。",
                "operationId": "d93d13935e46c66168ad1998161f379d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "若想要查詢單筆，請帶入機關編碼，查多筆可不帶，這裡是因為Swagger不帶值會預設給空白。",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "agency_name": {
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_at_work": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_off_work": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jurisdiction_regions": {
            "get": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "管轄區",
                "description": "查詢所有管轄區",
                "operationId": "347468a3c026c6a94a1427b9b0f7a82b",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "region": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jurisdiction_regions/{jr_id}/notifying_agencies": {
            "get": {
                "tags": [
                    "通報機關地圖"
                ],
                "summary": "指定管轄區之通報機關",
                "description": "利用管轄區查詢通報機關",
                "operationId": "2f04df870ed7f131cb4ec9cf2c2c039a",
                "parameters": [
                    {
                        "name": "jr_id",
                        "in": "path",
                        "description": "帶入管轄區的id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "頁碼",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "每頁筆數",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "請求成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "agency_name": {
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_at_work": {
                                                        "type": "string"
                                                    },
                                                    "notified_hotline_off_work": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "countOfData": {
                                            "type": "integer"
                                        },
                                        "countOfPage": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "使用者"
                ],
                "summary": "註冊",
                "description": "註冊一個新的使用者",
                "operationId": "3cf4cb807e45afd57a0bfbb55e289df0",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password",
                                    "username",
                                    "email"
                                ],
                                "properties": {
                                    "account": {
                                        "type": "string",
                                        "example": "m001"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "p@ssW0rD"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "m001Name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "m001@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "建立資料成功。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "建立資料成功。"
                                        },
                                        "countOfData": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "countOfPage": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "api_jwt_security": {
                "type": "apiKey",
                "description": "JWT Token",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}